{% extends 'salary/base.html' %}

{% block title %} Добавить поступление {% endblock %}

{% block content %}

<form action="/add_cash" method="POST">
    {% csrf_token %}
    {{ form.client_id.label_tag }}<br>
    {{ form.client_id }}<br>
    {{ form.income_item.label_tag }}<br>
    {{ form.income_item }}<br>
    {{ form.income.label_tag }}<br>
    {{ form.income }}<br>
    {{ form.date_time.label_tag }}<br>
    {{ form.date_time }}<br>

    <button > Добавить поступление </button>
    </div>
</form>
{% endblock %}
