{% extends 'salary/base.html' %}

{% block title %} Поступления {% endblock %}

{% block content %}
  <h2> Поступления: </h2>
  <table class="table table-striped">
    <tbody>
      <tr>
        <th> Клиент </th>
        <th> Юр. лицо </th>
        <th> Статья дохода </th>
        <th> Сумма </th>
        <th> Дата </th>
        <th> Статус </th>
        <th>  </th>
      </tr>

    {% for cash in cash_filter.qs %}
      <tr>
        <td> {{ cash.client_id.client_name }}  </td>
        <td> {{ cash.client_id.official_name }} </td>
        <td> {{ cash.income_item }} </td>
        <td> {{ cash.income }} </td>
        <td> {{ cash.date_time | date:"d.m.Y"}} </td>
        <td>  {% if cash.status == "Распределить" %}
          <a href="{% url 'cash_detail' id_cash=cash.pk %}">  {{ cash.status }} </a> </td>
              {% endif %}
        <td> <a href= "{{ cash.get_id_to_update }}"> Редактировать </a> </td>
      </tr>
    {% endfor %}

  </table>
<br>

<a href= "/add_cash"  class="btn btn-lg btn-primary"> Добавить поступление </a>
<br>
<br>
<br>

<h3> Фильтры </h3>
<form method="GET">
{% for elem in cash_filter.form %}
<div >
{{ elem.label_tag }}
</div >
<div class="form-group">
{{ elem }}
</div>
{% endfor %}
<input type="submit" /> <br>
</form>
<br>
<a href= "/cash" class="btn btn-secondary btn-sm"> Сбросить фильтр </a>
<br>


{% endblock %}