{% extends 'salary/base.html' %}

{% block title %} Изменить данные сотрудника {% endblock %}

{% block content %}
  <form action="{{ update_employee }}" method="POST">
    {% csrf_token %}
    {{ form.first_name.label_tag }}<br>
    {{ form.first_name }}<br>
    {{ form.last_name.label_tag }}<br>
    {{ form.last_name }}<br>
    {{ form.post_name.label_tag }}<br>
    {{ form.post_name }}<br>
    {{ form.department_id.label_tag }}<br>
    {{ form.department_id }}<br>
    {{ form.comment.label_tag }}<br>
    {{ form.comment }}<br>
    {{ form.motivation_type.label_tag }}<br>
    {{ form.motivation_type }}<br>
    <button> Изменить данные </button>
  </form>

{% endblock %}
