{% extends 'salary/base.html' %}

{% block title %} Редактировать платеж {% endblock %}

{% block content %}

<form action="{{ payment.get_url_employees }}" method="POST">
    {% csrf_token %}
    {{ form.date_time.label_tag }}<br>
    {{ form.date_time }}<br>
    {{ form.payment.label_tag }}<br>
    {{ form.payment }}<br>
    {{ form.employee_id.label_tag }}<br>
    {{ form.employee_id }}<br>
    {{ form.comment.label_tag }}<br>
    {{ form.comment }}<br>
    <button> Редактировать выплату </button>
</form>

{% endblock %}
